<h1>Admin Page</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-uppercase justify-content-end">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">
    <img src="./assets/med logo.png" alt="medicare" width="60" height="60" class="d-inline-block align-top">
   MEDICARE
  </a>
<ul class="navbar-nav justify-content-end">
  <li class="navbar-nav-item">
    <a class="navbar-nav-link"   style="color: aliceblue; font-size:x-large;" routerLink="home">HOME</a>
  </li>

  
</ul>
</div>
</nav>
<router-outlet></router-outlet>
