<!--Body-->

<div class="card-body text-primary" style="margin-top: 80px;">
    
</div>

<div class="jumbotron">
    <label style="font-size: 50px; text-align: center;"> <b>Bill Details</b></label>
    
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-image"></i><b>Image :</b> <img src="../assets/{{medicine.name| lowercase}}.png"  width="100%" height="100%" >
            </li>
            <li class="list-group-item">
                <i class="fa fa-id-card"></i><b>Id :</b> {{medicine.id}}
            </li>
        
            <li class="list-group-item">
                <i class="fa fa-user"></i><b>Name : </b>{{medicine.name}}
            </li>
        
            <li class="list-group-item">
                <i class="fa fa-envelope"></i><b>Description :</b> {{medicine.description}}
            </li>
        
            <li class="list-group-item">
                 <i class="fa fa-lock"  ></i> <b >Category :  </b>
                {{medicine.category}}
                </li>
        
            <li class="list-group-item">
                <i class="fa fa-rupee-sign"></i><b>Price :</b> {{medicine.price}}
            </li>
        
        </ul>
    </div>

</div>
    
</div>
    
    
     
    
    
    




 